<%= render "layouts/header" %>

<div class="container">
  <div class="group_graphs">

    <h1><%= @current_user.gym_name %></h1>
    <hr>
    <h1>Active Membership Data</h1>

    <div class="row">
      <div class="col-md-6">
        <h3>Gender Breakdown:</h3>
        <%= pie_chart @members.where(:status => "Active").group(:gender).count, colors: ["#9B59B6", "#3498DB"], library: {backgroundColor: "#ECF0F1"} %>
      </div>
      <div class="col-md-6">
        <h3>Membership Breakdown:</h3>
        <%= pie_chart @members.group(:status).count, colors: ["#2ECC71", "#E74C3C"], library: {backgroundColor: "#ECF0F1"} %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Age Breakdown:</h3>
        <%= column_chart @members.where(:status => "Active").group(:age).count, discrete: true, xtitle: "Age", ytitle: "Members of Certain Age", :colors => ["#34495E"], library: {backgroundColor: "#ECF0F1"} %>
      </div>
    </div>

  </div>
</div>
