
<div class="container">

    <div class="group">
      <h1><%= @current_user.gym_name %></h1>
      <hr>
      <h2><%= @group.class_time %>- Coach <%= @group.coach_first_name%> <%= @group.coach_last_name%></h2>
      <hr>

      <div class="buttons">
        <%= link_to "Home", user_path(id: @user.id), class: "btn btn-default" %>
        <%= link_to "Add Member", new_group_member_path(@group), class: "btn btn-success" %>
        <%= link_to "Edit Class", edit_group_path(id: @group.id), class: "btn btn-warning" %>
      </div>
    </div>

</div>
