<div class="container">

  <h1>Edit Gym</h1>
    <div class="user_form">
      <%= simple_form_for @user do |f| %>
        <%= f.input :gym_name, :required =>false, :label => 'Gym Name', :placeholder => 'ex. CFSB or Crossfit Southbell'  %>
        <%= f.input :address, :required =>false, :label => '', :placeholder => '12345 WOD Lane, Houston, TX'  %>
        <%= f.input :email, :required =>false, :label => '', :placeholder => 'example@domain.com'  %>
        <%= f.submit "Update Gym", class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>

</div>
