<%= render "layouts/header" %>

<div class="container">
    <div class="measurement_form">
      <div class="measurement_options">
        <h1>Quick Add Measurements</h1>
        <h2><%= link_to "Add Member", new_member_path, class: "btn btn-success" %></h2>
      </div>
      <hr>
      <%= simple_form_for @measurement, url: measurements_path, :method => :post do |f| %>
        <%= f.association :member, collection: @current_user.members, :required =>false, :label => 'Member Name', label_method: :member_full_name, value_method: :id, include_blank: true, input_html: { class: 'chosen-select' } %>
        <%= f.input :photo, as: :file, :required =>false, :label => 'Member Photo'  %>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :weight, :required =>false, :label => 'Weight', :placeholder => 'Weight in lbs'  %>
          </div>
          <div class="col-md-4">
            <%= f.input :bicep_circ, :required =>false, :label => 'Bicep Circumference', :placeholder => 'Bicep Circumference'  %>
          </div>
          <div class="col-md-4">
            <%= f.input :forearm_circ, :required =>false, :label => 'Forearm Circumference', :placeholder => 'Forearm Circumference'  %>
          </div>
          <div class="col-md-4">
            <%= f.input :chest_circ, :required =>false, :label => 'Chest Circumference', :placeholder => 'Chest Circumference'  %>
          </div>
          <div class="col-md-4">
            <%= f.input :waist_circ, :required =>false, :label => 'Waist Circumference', :placeholder => 'Waist Circumference'  %>
          </div>
          <div class="col-md-4">
            <%= f.input :abdomen_circ, :required =>false, :label => 'Abdomen Circumference', :placeholder => 'Abdomen Circumference'  %>
          </div>
          <div class="col-md-4">
            <%= f.input :hips_circ, :required =>false, :label => 'Hips Circumference', :placeholder => 'Hips Circumference'  %>
          </div>
          <div class="col-md-4">
            <%= f.input :thigh_circ, :required =>false, :label => 'Thigh Circumference', :placeholder => 'Thigh Circumference'  %>
          </div>
          <div class="col-md-4">
            <%= f.input :calf_circ, :required =>false, :label => 'Calf Circumference', :placeholder => 'Calf Circumference'  %>
          </div>
          <div class="col-md-4">
            <%= f.input :bmi, :required =>false, :label => 'BMI', :placeholder => 'BMI'  %>
          </div>
          <div class="col-md-4">
            <%= f.input :body_fat_percentage, :required =>false, :label => 'Body Fat Percentage', :placeholder => 'Body Fat Percentage'  %>
          </div>
        </div>
    <%= f.submit "Add Measurements", class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
