<%= render "layouts/header" %>

<div class="container">
    <div class="measurement_form">
      <h1>Add Measurements</h1>
      <%= simple_form_for @measurement, url: measurements_path, :method => :post do |f| %>
        <%= f.association :member, collection: @current_user.members, :required =>false, :label => 'Member Name', label_method: :member_full_name, value_method: :id, include_blank: true %>
        <%= f.input :photo, as: :file, :required =>false, :label => 'Member Photo'  %>
        <%= f.input :weight, :required =>false, :label => 'Weight', :placeholder => 'weight in lbs'  %>
        <%= f.input :bicep_circ, :required =>false, :label => 'Bicep Circumference', :placeholder => 'Bicep Circumference'  %>
        <%= f.input :forearm_circ, :required =>false, :label => 'Forearm Circumference', :placeholder => 'Forearm Circumference'  %>
        <%= f.input :chest_circ, :required =>false, :label => 'Chest Circumference', :placeholder => 'Chest Circumference'  %>
        <%= f.input :waist_circ, :required =>false, :label => 'Waist Circumference', :placeholder => 'Waist Circumference'  %>
        <%= f.input :abdomen_circ, :required =>false, :label => 'Abdomen Circumference', :placeholder => 'Abdomen Circumference'  %>
        <%= f.input :hips_circ, :required =>false, :label => 'Hips Circumference', :placeholder => 'Hips Circumference'  %>
        <%= f.input :thigh_circ, :required =>false, :label => 'Thigh Circumference', :placeholder => 'Thigh Circumference'  %>
        <%= f.input :calf_circ, :required =>false, :label => 'Calf Circumference', :placeholder => 'Calf Circumference'  %>
        <%= f.input :bmi, :required =>false, :label => 'BMI', :placeholder => 'BMI'  %>
        <%= f.input :body_fat_percentage, :required =>false, :label => 'Body Fat Percentage', :placeholder => 'Body Fat Percentage'  %>
        <%= f.submit "Add Measurements", class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
</div>
