<!DOCTYPE html>
<html>
<head>
  <title>Total Body Data</title>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <link href='https://fonts.googleapis.com/css?family=Exo+2:500' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

<%= javascript_include_tag "fadeCode.js" %>
<%= javascript_include_tag "scaffold.js" %>

</body>
</html>
