<%= render "layouts/header" %>

<div class="container">
  <div class="member_graphs">
    <h1><%= @current_user.gym_name %></h1>
    <hr>
    <h1> <%= link_to "#{@member.member_first_name}'s", member_path %> Graphs</h1>
    <hr>
    <% if @measurements.length > 0 %>

    <% if @weight_diff.positive? %>
      <h4>Weight</h4>
      <h4>+ <%= @weight_diff %> lbs since first measurement</h4>
    <% else %>
      <h4>Weight</h4>
      <h4><%= @weight_diff %> lbs since first measurement</h4>
    <% end %>
      <%= line_chart @measurements.pluck(:created_at, :weight), discrete: true, min: 90, xtitle: "Date of Measurement", ytitle: "Weight (lbs)", :colors => ["#27AE60"], library: {backgroundColor: "#ECF0F1"} %>
      <br>

    <% if @bf_diff.positive? %>
      <h4>Body Fat Percentage</h4>
      <h4>+ <%= @bf_diff %>% since first measurement</h4>
    <% else %>
      <h4>Body Fat Percentage</h4>
      <h4><%= @bf_diff %>% since first measurement</h4>
    <% end %>
      <%= line_chart @measurements.pluck(:created_at, :body_fat_percentage), discrete: true, xtitle: "Date of Measurement", ytitle: "Body Fat %", :colors => ["#E74C3C"], library: {backgroundColor: "#ECF0F1"} %>
      <br>

    <% if @waist_diff.positive? %>
      <h4>Waist</h4>
      <h4>+ <%= @waist_diff %> inches since first measurement</h4>
    <% else %>
      <h4>Waist</h4>
      <h4><%= @waist_diff %> inches since first measurement</h4>
    <% end %>
      <%= line_chart @measurements.pluck(:created_at, :waist_circ), discrete: true, min: 10, xtitle: "Date of Measurement", ytitle: "Waist Circumference (in.)", :colors => ["#2980B9"], library: {backgroundColor: "#ECF0F1"} %>
      <br>

    <% else %>
      <h4>No measurements logged for <%= @member.member_first_name %></h4>
    <% end %>
  </div>
</div>
