<%= render "layouts/header" %>

<div class="container">
  <div class="members-index">
    <div class="members-header">
      <h1><%= @current_user.gym_name %></h1>
    </div>
    <div class="members-details">
    </div>
    <hr>
    <h1>Active Memberships: <%= @active.count %></h1>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Membership Status</th>
        </tr>
      </thead>
      <tbody>
        <% @active.each do |member| %>
          <tr>
            <td><%= link_to member.last_name_first, member_path(id: member.id) %></td>
            <td><%= member.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <h1>Inactive Memberships: <%= @inactive.count %></h1>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Membership Status</th>
        </tr>
      </thead>
      <tbody>
        <% @inactive.each do |member| %>
          <tr>
            <td><%= link_to member.last_name_first, member_path(id: member.id) %></td>
            <td><%= member.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
