<%= render "layouts/header" %>

<div class="container">
    <div class="member">
      <div class="member_header">
        <h1><%= @current_user.gym_name %></h1>
        <div><%= link_to "#{@member.group.coach_full_name}'s Class", group_path(id: @group.id), class: "btn btn-success" %></div>
      </div>
      <hr>
      <div class="name">
        <h2> <%= @member.member_full_name %></h2>
      </div>


      <div class="member_show_header">
        <div class="member_header_left">
          <div class="slide">
            <% if @member.measurements.length > 1 %>
              <% @member.measurements.order(created_at: :asc).each_with_index do |measurement, i| %>
                <div id="<%= "elem#{i}" %>" class="toBeFaded">
                  <div class="fade_date">
                     Taken <%= distance_of_time_in_words measurement.created_at, Time.now %> ago
                  </div>
                  <div class="fade_pic">
                    <%= image_tag attachment_url(measurement, :photo, :fill, 250, 250, format: "jpg")%>
                  </div>
                </div>
              <% end %>
            <% else %>
              <% @member.measurements.each do |measurement| %>
                <div class="fade_pic">
                  <%= image_tag attachment_url(measurement, :photo, :fill, 250, 250, format: "jpg")%>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="member_header_right">
          <div class="member_details_right">
            <div><%= link_to edit_member_path(id: @member.id), class: "button" do %>
              <i class="glyphicon glyphicon-edit gi-3x"></i>
            <% end %></div>
            <h4>Age: <%= @member.age %></h4>
            <h4>Gender: <%= @member.gender %></h4>
            <% if @member.height_inches? %>
              <h4>Height: <%= "#{@member.height_inches/12}' #{@member.height_inches%12}\"" %></h4>
              <% else %>
              <h4>Height: not entered</h4>
            <% end %>
            <h4>Membership: <%= @member.status %></h4>
            <h4>Notes: <%= @member.notes %></h4>
            <br>
          </div>
        </div>
      </div>
      <hr>

      <div class="buttons">
        <%= link_to "Add Measurements", new_member_measurement_path(member_id: @member.id), class: "btn btn-default" %>
      </div>

        <div class="member_graph">
          <h1> <%= @member.member_first_name %>'s Measurements </h1>
          <div><%= link_to member_graphs_path(id: @member.id), class: "button" do %>
            <i class="glyphicon glyphicon-stats gi-4x"></i>
          <% end %></div>
        </div>
        <% @member.measurements.order(created_at: :desc).each do |measurement| %>
        <hr>
        <div class="member_measurements">
          <div class="member_measurement_image">
            <%= link_to measurement_path(measurement) do %>
              <%= image_tag attachment_url(measurement, :photo, :fill, 100, 100, format: "jpg")%>
            <% end %>
          </div>
          <div class="member_measurement_details">
            <h4>Weight: <%= measurement.weight %></h4>
            <h4>Body Fat: <%= measurement.body_fat_percentage %>%</h4>
            <h4>Created: <%= distance_of_time_in_words measurement.created_at, Time.now %> ago</h4>
          </div>
        </div>
        <% end %>
    </div>
</div>
